@font-face {
  font-family: "iconfont"; /* Project id 3144934 */
  src: url('//at.alicdn.com/t/font_3144934_a0u990g41t6.woff2?t=1642338449342') format('woff2'),
  url('//at.alicdn.com/t/font_3144934_a0u990g41t6.woff?t=1642338449342') format('woff'),
  url('//at.alicdn.com/t/font_3144934_a0u990g41t6.ttf?t=1642338449342') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin1:before {
  content: "\e8bb";
  color: mediumseagreen;
}

.icon-qq1:before {
  content: "\e647";
  color: cornflowerblue;
  /* 修改大小 */
}

.icon-csdn1:before {
  content: "\e60c";
  color: red;
  /* 修改大小 */
}

.icon-github1:before {
  content: "\e6b7";
  color: black;
  /* 修改大小 */
}
